<ul id="offline-list"><script type="text/html-template">{{#each apps}}
    {{#if has-guide}}
    <li class="item {{id}} {{#if downloading}}downloading{{/if}} {{#unless has-guide}}no-guide{{/unless}}">
      <a href="{{url}}"><img src="{{#if icon}}{{icon}}{{else}}./img/image.png{{/if}}" /></a>
      <h2><a href="{{url}}">{{name}}</a></h2>
      <div class="btn-group">
        {{#if has-offline}}
        <p class="text-success"><i class="fa fa-check"></i> 已下载</p>
        <a href="delete://{{id}}" class="delete-button btn"><i class="fa fa-fw fa-trash-o"></i> 删除</a>
        {{else}}
        <p {{#unless downloading}}class="hidden"{{/unless}}><i class="fa fa-download"></i> <span>{{progress}}</span>%</p>
        <a href="download://{{id}}/{{name}}" class="btn download-button {{#if downloading}}disabled hide{{/if}}"><i class="fa fa-fw fa-download"></i> 下载</a>
        {{/if}}
      </div>
      {{#if downloading}}
      <div class="progress"><div class="bar" style="width:{{progress}}%"></div></div>
      {{/if}}
    </li>
    {{/if}}
    {{/each}}</script></ul><div class="alert alert-info"><h4>温馨提示：</h4>游戏攻略通常含有大量图片，在线观看可能产生很大流量，我们建议您先在WIFI环境下载攻略到手机，即可尽情观看，再无扣费之忧。</div>